main {
    margin: 20px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: "Roboto", sans-serif;
    h1{
        text-align: center;
        margin: 0px 0px 50px 0px;
        text-transform: uppercase;
    }
    h2{
        color: $colorrosa;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        width: 100%;  
    }
}
