.box {
    border-radius: 20px;
    background: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;

    &:before {
        position: absolute;
        content: '';
        left: 0px;
        top: 0px;
        width: 0px;
        height: 100%;
        border-radius: 20px;
        box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.30);
        transition: all 0.3s ease;
        background-image: linear-gradient(to right, $colorrosa, #434243 100%);
    }

    &:hover {
        &:before {
            width: 100%;
        }

        .image-wrapper {
            padding: 0;
        }

        .box-desc {
            color: $color_white;
        }

        .social {
            li {
                a {
                    background: #fff;
                    background-image: none;
                    color: #000;

                    &:hover {
                        background: #1d1d1d;
                        color: $color_white;
                    }
                }
            }
        }
    }
}

.image-wrapper {
    position: relative;
    max-width: 210px;
    max-height: 210px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    padding: 15px;
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.20);

    img {
        border-radius: 50%;
        transition: all 500ms ease;
    }
}

.box-desc {
    position: relative; 
    p{
        text-align: center;
    }
}

ul.social {
    padding: 0;

    li {
        display: inline-block;
        list-style-type: none;

        a {
            position: relative;
            width: 36px;
            height: 36px;
            background-image: linear-gradient(to right, $colorrosa 0%, #434243 100%);
            display: inline-block;
            border-radius: 50%;
            color: $color_white;
            transition: all .5s ease;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}